!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width", "initial-scale" => 1, "maximum-scale" => 1}
    %title FRI SP Social network
    %link{:type => "text/css", :href => "build/app.css", :rel => "stylesheet"}

  %body
    %div#react-root
      %div.wrapper
        %div.wrapper-content
          %header.banner{:role => "banner"}
            %a#logo{:href => ""}
              %h1 SP Social
            %button Menu

          %main.profile
            %section.profile-banner
              %img{:src => "http://placehold.it/150x150", :alt => ""}
            %section.profile-sidebar
              %div.profile-info-card
                %h1.profile-card-header
                  %a{:href => ""} Daffy Duck
                %div.profile-card-info
                  %span.profile-card-location
                    %a{:href => ""} Looney Toons
                  %span.profile-card-birthday 31st February 1994

            %div.profile-main-content
              %section.profile-wall.container
                - news = [{ :author => "Daffy Duck", :post => "Hehe, hunter can't catch me! But that doesn't stop him from trying ^^", :timestamp => "15 minutes ago", :comments => [{ :author => "Hunter", :comment => "You just wait you silly duck!", :timestamp => "10 minutes ago"}, { :author => "Daffy Duck", :comment => "Aww, what's the matter, can't catch me? You'll get there.", :timestamp => "8 minutes ago"}] }]
                - news.each do |n|
                  %article.post
                    %section.post-title
                      %img{:src => "http://placehold.it/56x56", :alt => ""}
                      %div
                        %a.author{:href => ""} #{n[:author]}
                        %span.info
                          #{n[:timestamp]}
                          %a{:href => ""} Location

                    %section.post-body
                      %span.post-content #{n[:post]}

                    - if not n[:comments].empty?
                      %section.post-comments
                        - n[:comments].each do |c|
                          %div.post-comment
                            %img{:src => "http://placehold.it/40x40", :alt => ""}
                            %div.block-component
                              %div.group
                                %a.author{:href => ""} #{c[:author]}
                                %span #{c[:comment]}
                              %div.group
                                %span.info #{c[:timestamp]}

                    %section.post-social
                      %form.inline-form{:action => ""}
                        %img{:src => "http://placehold.it/40x40", :alt => ""}
                        %textarea{:rows => 1, :placeholder => "Leave a comment"}
                        %button{:type => "submit"} Post

                %div.load-more
                  %a{:href => ""} Load more


    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"}